{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Registre{% endblock %}

{% block content %}
  <h1>Registre d'activitat</h1>
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>
    <p class="date">
      Publicat en data {{ post.publish }} per {{ post.author }}
    </p>
    {{ post.body|markdown|truncatewords_html:30 }}
  {% endfor %}
  {% include "pagination.html" with page=page_obj %}
{% endblock %}
