{% extends "blog/base.html" %}

{% block title %}Objectius{% endblock %}

{% block content %}
  <h1>Objectius</h1>
  {% for obj in objectives %}
    {% if obj.completed %}
      <h2><a class='completed' href="{{ obj.get_absolute_url }}">{{ obj.description }}</a></h2>
    {% else %}
      <h2><a href="{{ obj.get_absolute_url }}">{{ obj.description }}</a></h2>
    {% endif %}
    <ul>
      <li>Prioritat: {{ obj.get_priority }}</li>
      <li>Hores estimades: {{ obj.time_estimated }}h</li>
      {% if obj.time_dedicated != null %}
        <li>Hores dedicades: {{ obj.time_dedicated }}h</li>
      {% endif %}
    </ul>
  {% empty %}
    <p>No s'ha creat cap objectiu</p>
  {% endfor %}
{%endblock%}
